@import "../../global.scss";

#intro {
  background-color: $primaryBackground;
  display: flex;
  width: 75%;
  max-height: 75%;
  margin: 0 auto;
  .left {
    flex: 0.5;
    overflow: inherit;
    display: flex;
    margin-top: 20px;
    .imgContainer {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: left;
      max-width: 100%;
      max-height: 100%;
      background-color: $shirtOrange;
      border-radius: 50%;
      img {
        max-width: 100%;
      }
    }
  }

  .right {
    flex: 0.5;
    justify-content: center;
    align-items: center;
    .wrapper {
      max-width: 100%;
      max-height: 100%;
      padding-left: 5rem;
      padding-top: 16rem;
      display: flex;
      flex-direction: column;
      justify-content: left;

      h1 {
        font-size: 5rem;
        margin: 1px 0;
      }
      h2 {
        font-size: 3rem;
      }
      h3 {
        font-size: 2rem;

        span {
          font-size: inherit;
          color: $shirtOrange;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }
        @keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}
