$primaryBackground: #303133;
$secondyBackground: #222222;
$primaryText: #efefef;
$shirtOrange: #c5573e;
body {
  background-color: $secondyBackground;
  color: $primaryText;
}
a:link {
  color: $primaryText;
}
a:visited {
  color: $primaryText;
}
